@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body, #root {
  font-family: 'Roboto', sans-serif !important;
}

.font-sans {
  font-family: 'Roboto', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
}

:root {
  --blue: #6B729Fff;
  --green: #A9CAB4ff;
  --violet: #696C94ff;
  --gold: #e0c055;
  --slate: #B1B5C9ff;
  --bg: #fff;
  --text: #213547;
}

.dark {
  --blue: #6B729Fff;
  --green: #A9CAB4ff;
  --violet: #696C94ff;
  --gold: #e0c055;
  --slate: #B1B5C9ff;
  --bg: #242424;
  --text: #fff;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

.cursor-follower-gif {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 0; /* or -1 if needed */
}